.studyListGrid {
  display: grid;
  grid-template-columns: 1fr; /* grid-cols-1 */
  gap: 1.5rem; /* gap-6 */
  padding: 1rem; /* Add some padding to the grid container */
}

@media (min-width: 768px) { /* md */
  .studyListGrid {
    grid-template-columns: repeat(2, 1fr); /* md:grid-cols-2 */
  }
}

@media (min-width: 1024px) { /* lg */
  .studyListGrid {
    grid-template-columns: repeat(3, 1fr); /* lg:grid-cols-3 */
  }
}
