.notificationsPageContainer {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.pageTitle {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 700; /* font-bold */
}
