.header-search-container {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  overflow: hidden;
}

.header-search-input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

.header-search-input::placeholder {
  color: var(--color-text-secondary);
}

.header-search-button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.header-search-button:hover {
  background-color: var(--color-primary-dark);
}
