.videoCallInterfaceContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px); /* h-[calc(100vh-200px)] */
}

.mainContent {
  flex: 1; /* flex-1 */
  display: flex;
  flex-direction: column; /* flex-col */
  gap: 1rem; /* gap-4 */
}

@media (min-width: 1024px) { /* lg */
  .mainContent {
    flex-direction: row; /* lg:flex-row */
  }
}

.videoGridWrapper {
  flex: 1; /* flex-1 */
  background-color: var(--color-background-dark); /* bg-gray-900 */
  border-radius: 0.5rem; /* rounded-lg */
  padding: 1rem; /* p-4 */
}

.participantListWrapper {
  width: 100%;
}

@media (min-width: 1024px) { /* lg */
  .participantListWrapper {
    width: 25%; /* lg:w-1/4 */
  }
}

.controlBarWrapper {
  margin-top: 1rem; /* mt-4 */
}
