.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  position: absolute;
  background-color: var(--background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 8px; /* Space between trigger and dropdown */
}

.dropdownContent.end {
  right: 0;
}

.dropdownItem {
  color: var(--foreground);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  .dropdownItem:hover {
    background-color: #333;
  }
}
