.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownTrigger {
  cursor: pointer;
}

.dropdownContent {
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  right: 0; /* Align to the right of the trigger */
  margin-top: 8px; /* Space between trigger and content */
}

.dropdownMenuItem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownMenuItem:hover {
  background-color: #f1f1f1;
}

.dropdownMenuSeparator {
  height: 1px;
  background-color: #eee;
  margin: 4px 0;
}